<!DOCTYPE HTML
  <html>
 <head>
<title>FAQ | Melodies</title>
 <link href="static/css/homestyle.css" rel="stylesheet" type="text/css">
 <!--link href="file:///L:/Mini%20Project/FINAL/static/css/faqstyle.css" rel="stylesheet" type="text/css"-->


  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/jquery-3.1.0.js"> </script>
 <div class="hero-image">
  
</div>

<style>
body
{
  background:url(static/img/faqbg.jpg);
  background-size:auto;
}
h3
{
  color: #fff;
  font-size: 30;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-family: 'Exo',sans-serif;

}

.option-question{
  color:white;
  font-size: 20;
  font-family: 'Exo',sans-serif;
  background: #050B33;
  padding:10px;
margin-top:18px;
margin-left: 130px;
margin-right: 140px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  cursor:pointer;
}
.option-content{
  background:transparent;
  color:white;
  font-size: 15;
  font-family: 'Roboto',sans-serif;
  padding:10px;
  margin-left: 130px;
margin-right: 130px;
}

.option-content a {
  color:gray;
  text-decoration: none;
}
.option-content a:hover {
opacity: 0.6;
}
/* Notice this class ! */

.is-hidden{ 
  display: none; 
}

#end
{
  margin-bottom: 100px;
}

</style>

</head>

<body>

  <script>
  jQuery(function($) {
  $(".option-question").click(function() {
    $(this).next(".option-content").stop().slideToggle(500);
    $(this).find(".arrow-up, .arrow-down").toggle();
  });

});

</script>

<!--
<div class="navbar">
  <a href="{{ url_for('my_form') }}">Contact</a>
  <a href="{{ url_for('faq') }}">FAQ</a>
  <a href="{{ url_for('teachers') }}" target="_blank">Teachers</a>

  <div class="dropdown">
    <button class="dropbtn">Exams
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="file:///L:/Mini%20Project/FINAL/templates/crashcourse.html">Crash Course</a>
      <a href="file:///L:/Mini%20Project/FINAL/templates/ltcourse.html">Long Term Courses</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Instruments
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
  <a href="{{ url_for('index') }}">Home</a>
</div>-->

<div class="navbar">
  <a href="{{url_for('my_form')}}">Contact</a>
  <a href=" {{ url_for('faq') }} ">FAQ</a>
   <a href="{{url_for('teachers')}}" >Teachers</a>

  <div class="dropdown">
    <button class="dropbtn">Exams
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{url_for('abrsm')}}">ABRSM</a>
      <a href="{{url_for('lcm')}}">LCM</a>
      <a href="{{url_for('trinity')}}">TRINITY</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
            <a href="{{url_for('ccourse')}}">Crash Course</a>
      <a href="{{url_for('lcourse')}}">Long Term Courses</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Instruments
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{url_for('bass1')}}">Bass</a>
      <a href="{{url_for('guitar1')}}">Guitar</a>
      <a href="{{url_for('piano1')}}">Piano</a>
	  <a href="{{url_for('sax1')}}">Saxaphone</a>
	  <a href="{{url_for('violin1')}}">Violin</a>
	  <a href="{{url_for('drums1')}}">Drums</a>
    </div>
  </div> 
  <a href="{{url_for('home')}}">Home</a>
</div>

<div class="log">
	
  {% if session['logged_in'] == True %}
    <a href="{{url_for('logout')}}" >Logout</a>
{% else %}
    <a href="{{url_for('login')}}" >Login</a>
{% endif %}
  <!--a href="{{ url_for('login') }}" target="_blank">Login</a>-->

</div>

<div class="reg">

  <a href="{{ url_for('signup') }}">Register</a>

</div>

      <h3>Frequently Asked Questions</h3><br><br>

      <div class="option-question">
  <span class="arrow-up is-hidden">&#9650;</span>
  <span class="arrow-down">&#9660;</span>
  Can I take a trial class?
</div>
<div class="option-content is-hidden">
  Yes, we offer a free trial class to prospective students.
</div>

<div class="option-question">
  <span class="arrow-up is-hidden">&#9650;</span>
  <span class="arrow-down">&#9660;</span>
  I'm interested in joining a long term course. Is there a long term payment plan?
</div>
<div class="option-content is-hidden">
  Yes, we offer multiple payment plans depending on the student's needs. You can <a href="contact">contact us</a> for more details.
</div>

<div class="option-question">
  <span class="arrow-up is-hidden">&#9650;</span>
  <span class="arrow-down">&#9660;</span>
 Can I learn multiple instruments at a time?
</div>
<div class="option-content is-hidden">
  Due to the way our courses are structured, you cannot learn more than one instrument at a time. We focus on all-round learning, so you may find that you can easily pick up a different instrument after studying with us!
</div>

<div class="option-question">
  <span class="arrow-up is-hidden">&#9650;</span>
  <span class="arrow-down">&#9660;</span>
 I want to join the crash course. Do I need to have some prior experience with music?
</div>
<div class="option-content is-hidden">
  Our crash courses can be taken by students of any level, even a complete beginner. The teaching style is adapted to suit your needs.
</div>

<div class="option-question">
  <span class="arrow-up is-hidden">&#9650;</span>
  <span class="arrow-down">&#9660;</span>
Can I choose who teaches me?
</div>
<div class="option-content is-hidden">
  Teachers take classes according to the schedule that works best. All our teachers are extremely sensitive to the varying needs of students and never take a one-size-fits-all approach. If for some reason you are insistent on learning from a specific teacher, you can find out the course schedules at the time of payment and sign up for those specific timings.
</div>

<div class="option-question">
  <span class="arrow-up is-hidden">&#9650;</span>
  <span class="arrow-down">&#9660;</span>
  Can I join a course at any time?
</div>
<div class="option-content is-hidden">
  You can join the long term and exam prep courses at any time. The crash courses are between fixed dates, and registration must be done atleast two weeks prior (you can find more info <a href="crashcourse page">here</a>).
</div>

<div class="option-question">
  <span class="arrow-up is-hidden">&#9650;</span>
  <span class="arrow-down">&#9660;</span>
  Do I have to have my own instrument?
</div>
<div class="option-content is-hidden">
  It is much preferred that you have an instrument of your own to practice with. However, for special circumstances, you can contact us and we can help you out. Please make this a last resort since practicing by yourself is very important to master an instrument.
</div>


<div class="option-question">
  <span class="arrow-up is-hidden">&#9650;</span>
  <span class="arrow-down">&#9660;</span>
  I'm a complete beginner. How good will I be at the end of the crash course?
</div>

<div class="option-content is-hidden">
  We never, ever give students an expectation of their "level" by the end of a certain time period. Everyone learns differently and at a different pace. If you'd like to know the theory and techniques which will be covered, you can find it on the <a href="crashcourse page">course page.</a>
</div>
<div id="end">
</div>

</body>
</html>

