<html>
<head>
    <title>Long Term Courses | Melodies Music School</title>
    <link href="static/css/homestyle.css" rel="stylesheet" type="text/css">
    <!--link href="file:///L:/Mini%20Project/FINAL/static/css/ltcoursestyle.css" rel="stylesheet" type="text/css"-->
<style>
h1
{
  margin-left: 650px;
  margin-right:200px;
  margin-top:20px;
  
  font-family: 'Arial',sans-serif;
  font-size:35;
  color:white;
}

body
{
  background-image:url(static/img/ltcoursebg.jpg);
  background-size:cover;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
  margin-top: 30px;
  text-align: left;
  margin-right: 160px;
  margin-left: 560px;
  color:white;
  font-family: 'Exo',sans-serif;

}

.about b
{
  color:yellow;
}

.about c
{
  color:yellow;
  font-size:20;
  margin-left:30px;
}

#info
{
  margin-top:31px;
}
.join a img {
  margin-top:20px; 
  margin-right:200px;
  margin-left: 680px;
  max-height: 150px;
  max-width: 300px;
    animation: blink 1s;
    animation-iteration-count: infinite;
}

</style>
</head> 
<body>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <header>
  
 <div class="hero-image">
  
</div>

<div class="log">
	
	{% if session['logged_in'] == True %}
    <a href="{{url_for('logout')}}" >Logout</a>
{% else %}
    <a href="{{url_for('login')}}" >Login</a>
{% endif %}
  <!--<a href="{{url_for('login')}}">Login</a>-->

</div>

<div class="reg">

  <a href="{{url_for('signup')}}" >Register</a>

</div>



<!--
 <div class="navbar">
  <a href="{{url_for('my_form')}}">Contact</a>
  <a href="{{url_for('faq')}}">FAQ</a>
  <a href="{{url_for('teachers')}}">Teachers</a>
  

  <div class="dropdown">
    <button class="dropbtn">Exams
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">      
           <a href="{{url_for('ccourse')}}">Crash Course</a>
      <a href="{{url_for('lcourse')}}">Long Term Courses</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Instruments
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
 <a href="{{url_for('home')}}">Home</a>
</div>-->

<div class="navbar">
  <a href="{{url_for('my_form')}}">Contact</a>
  <a href=" {{ url_for('faq') }} ">FAQ</a>
   <a href="{{url_for('teachers')}}" >Teachers</a>

  <div class="dropdown">
    <button class="dropbtn">Exams
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{url_for('abrsm')}}">ABRSM</a>
      <a href="{{url_for('lcm')}}">LCM</a>
      <a href="{{url_for('trinity')}}">TRINITY</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
            <a href="{{url_for('ccourse')}}">Crash Course</a>
      <a href="{{url_for('lcourse')}}">Long Term Courses</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Instruments
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{url_for('bass1')}}">Bass</a>
      <a href="{{url_for('guitar1')}}">Guitar</a>
      <a href="{{url_for('piano1')}}">Piano</a>
	  <a href="{{url_for('sax1')}}">Saxaphone</a>
	  <a href="{{url_for('violin1')}}">Violin</a>
	  <a href="{{url_for('drums1')}}">Drums</a>
    </div>
  </div> 
  <a href="{{url_for('home')}}">Home</a>
</div>

<h1>Long Term Courses</h1>

<div class=about>
  <p>Melodies Music School engages the topic of music education with a unique system that combines technical, creative and holistic musical development in a performance-based program. </p><p>
At Melodies, you learn from a proven curriculum taught by highly qualified instructors. The course is also an opportunity for students to network with other players of different skill levels, find their creative voice, and get the training they need in accordance with their needs and modes of learning. We provide individualized instruction for all instruments, allowing students to select any single principle instrument. The course work for each is specifically designed and customized for all levels of playing ability. </p>
<p>We also specialise in preparing students for international music examinations, namely the <a href="ABSRMpage">ABSRM</a>, <a href="LCMpage">LCM</a>, and the <a href="Trinitypage">Trinity College of Music</a> examinations. If a student wishes to include exam preparation in their course, they can select that as an option at the time of registration. 
</p>
  
<p>Long term courses are scheduled in batches. We have <b> weekday morning batches</b> from 7 to 9 am, <b>weekday evening batches</b> from 5 to 7 pm and 7 to 9pm, and <b>weekend batches (Saturday & Sunday)</b> from 11 am to 1 pm and 3 to 5pm. At the time of payment, students can choose to attend any of the batches amounting to <b>four classes per week</b>, according to their convenience.</p><br>

<p>Our long term courses are highly individualised according to your needs, but we generally cover the following areas:</p><br>
<p>

• Sight-reading sheet music.</p><p>
• Ear training</p><p>
• Understanding and effectively practicing rhythm</p><p>
• Composing and improvising</p><p>
• Band dynamics</p><p>
• Theory concepts and applying them to your daily practice</p><p>
• Exam syllabus, if chosen</p><p><br>

<p> If you have specific difficulties or other areas you wish to focus on, you can discuss it with your teacher and adjust how class time is spent accordingly.</p><br><br>

<p><c>New Registrations are Finalised on the 1st of Each Month</c></p>

</div>


<div class="join">

       <a href="{{url_for('signup')}}" >
        <img src="static/img/coursejoin.png">
      
      </a>
     </div>




