<html>
<head>
  <meta charset="UTF-8">
  <title> Student Page | Melodies</title>
  <link href="static/css/homestyle.css" rel="stylesheet" type="text/css">
  <link href="static/css/profilestyle.css" rel="stylesheet" type="text/css">
  
 
</head>

<body>
<!--<div class="navbar">
  <a href="{{url_for('my_form')}}">Contact</a>
  <a href=" {{ url_for('faq') }} ">FAQ</a>
   <a href="{{url_for('teachers')}}" >Teachers</a>
  <p class="name">welcome, {{username}} </p>  

  <div class="dropdown">
    <button class="dropbtn">Exams
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
       <a href="{{url_for('ccourse')}}">Crash Course</a>
      <a href="{{url_for('lcourse')}}">Long Term Courses</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Instruments 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
  <a href="{{ url_for('aboutpage') }}">Home</a>
</div>
-->
<div class="navbar">
  <a href="{{url_for('my_form')}}">Contact</a>
  <a href=" {{ url_for('faq') }} ">FAQ</a>
   <a href="{{url_for('teachers')}}" >Teachers</a>

  <div class="dropdown">
    <button class="dropbtn">Exams
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{url_for('abrsm')}}">ABRSM</a>
      <a href="{{url_for('lcm')}}">LCM</a>
      <a href="{{url_for('trinity')}}">TRINITY</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
            <a href="{{url_for('ccourse')}}">Crash Course</a>
      <a href="{{url_for('lcourse')}}">Long Term Courses</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Instruments
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{url_for('bass1')}}">Bass</a>
      <a href="{{url_for('guitar1')}}">Guitar</a>
      <a href="{{url_for('piano1')}}">Piano</a>
	  <a href="{{url_for('sax1')}}">Saxaphone</a>
	  <a href="{{url_for('violin1')}}">Violin</a>
	  <a href="{{url_for('drums1')}}">Drums</a>
    </div>
  </div> 
  <a href="{{url_for('home')}}">Home</a>
</div>


<div class="box1">
	<div class="words">Instrument Name : {{instrument}}</p>
	<p>Course Type : {{coursed}}</p>
</div>
</div>


<div class="box2">
<div class="words">Exams: {{course}}</p>
{% if coursed == 'CrashCourse' %}
     <p> Amount due : Rs. 2000 </p>
{% else %}
     <p> Amount due : Rs. 8000</p>
{% endif %}

</div>



